/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}


/* open-sans-600 - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v28-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/open-sans-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-600.svg#OpenSans') format('svg');
    /* Legacy iOS */
}


/* open-sans-700 - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v28-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/open-sans-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v28-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v28-latin-700.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

:root {
    --color1: #2ECC71;
    --color2: #252525;
}

* {
    font-family: 'Open Sans';
}

nav {
    height: 105px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    background-color: white;
}

header .navbar-toggler,
header .navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

header .container-fluid {
    position: relative;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: absolute;
    transition: .5s ease-in;
    left: 0;
}

.toggler-icon {
    background-color: #2ECC71;
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
}

.top-bar {
    margin-top: -10px;
}

.bottom-bar {
    margin-top: 10px;
}

#s1 {
    background-color: var(--color1);
    color: white;
}

#s1 .container {
    min-height: 769px;
    background-image: url(images/phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 140% 0%;
}

#s1 .row-main {
    min-height: 769px;
}

#s1 h1 {
    font-weight: 700;
    font-size: 52px;
}

#s1 h2 {
    font-weight: 400;
    font-size: 32px;
}

#s1 button {
    background-color: var(--color2);
    border-radius: 10px;
    color: white;
    box-shadow: none;
    font-weight: 600;
    font-size: 20px;
    height: 56px;
    width: 255px;
}


/* section #s2 */

#s2 .line-1 h2 {
    font-weight: 600;
    font-size: 45px;
}

#s2 .line-1 p {
    font-weight: 400;
    font-size: 25px;
}

#s2 .line-2 h3 {
    font-weight: 600;
    font-size: 30px;
}

#s2 .line-2 p {
    font-size: 22px;
    font-weight: 400;
}

#s2 button {
    background-color: var(--color1);
    border-radius: 10px;
    color: white;
    box-shadow: none;
    font-weight: 600;
    font-size: 20px;
}

#s2 input {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #969696;
    font-size: 20px;
}

#s2 input::placeholder {
    color: #969696;
}


/* section #s3 */

#s3 {
    background-color: var(--color2);
    color: var(--color1);
}

#s3 .line-1 h3 {
    font-weight: 600;
    font-size: 32px;
}

#s3 .line-1 p {
    font-weight: 600;
    font-size: 28px;
}


/* section #s4 */

#s4 .line-1 h3 {
    font-weight: 600;
    font-size: 45px;
}

#s4 .line-2-1 a {
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    color: var(--color2);
    border: var(--color2) 5px solid;
    border-radius: 10px;
}

#s4 .line-2-2 a {
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    color: var(--color1);
    border: var(--color1) 5px solid;
    border-radius: 10px;
}

#s4 .line-2 p {
    font-weight: 400;
    font-size: 22px;
}

@media (max-width: 576px) {
    #s1 .container {
        min-height: 709px;
        background-size: 170%;
        background-position: -15% 0%;
    }
    #s1 .row-main {
        min-height: 709px;
    }
    #s1 h1 {
        font-size: 35px;
    }
    #s1 h2 {
        font-weight: 600;
        font-size: 22px;
    }
    #s2 .line-1 h2 {
        font-size: 35px;
        line-height: 32px;
    }
    #s2 .line-1 p {
        font-size: 18px;
    }
    #s2 .line-2 h3 {
        font-size: 22px;
    }
    #s2 .line-2 p {
        font-size: 18px;
    }
    #s2 button,
    #s2 input {
        font-size: 20px;
    }
    #s3 .line-1 h3 {
        font-size: 22px;
    }
    #s3 .line-1 p {
        font-size: 20px;
    }
    #s4 .line-1 h3 {
        font-size: 35px;
    }
    #s4 .line-2-1 a,
    #s4 .line-2-2 a {
        font-size: 25px;
        border-width: 3px;
    }
    #s4 .line-2 p {
        font-size: 18px;
    }
}

@media (min-width: 495px) and (max-width: 992px) {
    #s1 .container {
        background-size: 130%;
        background-position: -40%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #s1 .container {
        background-size: contain;
        background-position: 240% 0;
    }
}